body 
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #ecf0f3;
}

svg {
    display: flex;
    font: 4em 'Montserrat';
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #52062e;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #33336c;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #174710;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #d84571;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.container 
{   margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #d1d3d4,
              -13px -13px 20px #d1d3d4; 
}

.content 
{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row input 
{
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020;
}

.row input:hover 
{
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1),
                 inset -5px -5px 8px #fff;
    background: #fff;
}

.screen #display 
{
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #a4c9ee,
                inset -8px -8px 8px #a4c9ee;
}

#ok 
{
    background: #C84B31;
        color: #fff;
        box-shadow: inset 5px 5px 8px #91817e,
                    inset -5px -5px 8px #91817e;
}

#ok:hover 
{
    box-shadow: inset 5px 5px 8px #84483c,
                    inset -5px -5px 8px #84483c;
                
}

#ac 
{
    background: #9A0680;
    color: #fff;
}

#ac:hover 
{
    box-shadow: inset 5px 5px 8px #745c70,
                inset -5px -5px 8px #745c70;
}

#space
{
    background: #ECB365;
    color: #fff;
}

#space:hover 
{
    box-shadow: inset 5px 5px 8px #8f7f68,
    inset -5px -5px 8px #8f7f68;
                  
}

/*================= Heading Css =================*/
h2

{
    font-size: 40px;
    position: relative;  
    bottom: 1em; 
    margin-left: 1.2em;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #d1d9e6,
                    1px 1px 2px #d1d9e6,
                    3px 3px 3px #d1d9e6,
                    4px 4px 4px #d1d9e6,
                    5px 5px 5px #d1d9e6, 
                    6px 6px 6px #d1d9e6,
                    7px 7px 7px #d1d9e6,
                    8px 8px 8px #d1d9e6;
                    letter-spacing: 6px;
}

h2 span
{
color: #33cc33;
font-size: 45px;
text-shadow: 1px 1px 1px #d1d9e6,
                1px 1px 2px #d1d9e6,
                3px 3px 3px #d1d9e6,
                4px 4px 4px #d1d9e6,
                5px 5px 5px #d1d9e6, 
                6px 6px 6px #d1d9e6 ;    
}

h2 .fa
{
    position: absolute; 
    top: 1.5em;
    color: #33ccff;
}
